@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-base font-normal font-primary scroll-smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.w-container {
  @apply w-full px-5 xl:w-[1200px] mx-auto;
}
